@model fyptest.Models.JobViewModel
@{
  ViewBag.Title = "JobView";
}


<div style="height: 113px;"></div>

<div class="unit-5 overlay" style="background-image: url(@Url.Content("~/Content/main/")images/hero_2.jpg);">
  <div class="container text-center">
    <h2 class="mb-0">@Model.Title</h2>
    <p class="mb-0 unit-6"><a href="index.html">Home</a> <span class="sep">></span> <span>Job Item</span></p>
  </div>
</div>




<div class="site-section bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-8 mb-5">
        <div class="p-5 bg-white">
          <div class="mb-4 mb-md-5 mr-5">
            <div class="job-post-item-header d-flex align-items-center">
              <h2 class="mr-3 text-black h4">@Model.Title</h2>
              <div class="badge-wrap">
                <span class="border border-warning text-warning py-2 px-4 rounded">@Model.Category</span>
              </div>
            </div>
            <div class="job-post-item-body d-block d-md-flex">
              <div class="mr-3"><span class="fl-bigmug-line-portfolio23"></span> <a href="#">@Model.Location</a></div>
              <div><span class="fl-bigmug-line-big104"></span> <span>@Model.Location</span></div>
            </div>
          </div>



          <div class="img-border mb-5">
            @*<a href="https://vimeo.com/28959265" class="popup-vimeo image-play">
      <span class="icon-wrap">
        <span class="icon icon-play"></span>
      </span>*@
            <img src="@Model.Image" alt="Image" class="img-fluid rounded">
            @*</a>*@
          </div>

          <div class="row form-group">
            <div class="col-md-12 mb-3 mb-md-0">
              <label class="font-weight-bold">Category</label>
              <p class="mb-4">@Model.Category</p>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-md-12 mb-3 mb-md-0">
              <label class="font-weight-bold">Price</label>
              <p class="mb-4">RM @Model.Price</p>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-md-12 mb-3 mb-md-0">
              <label class="font-weight-bold" for="phone">Job Type</label>
              <p class="mb-4">RM @Model.SelectedType</p>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-md-12 mb-3 mb-md-0">
              <label class="font-weight-bold" for="phone">Description</label>
              <p class="mb-4">@Model.Description</p>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-md-12 mb-3 mb-md-0">
              <label class="font-weight-bold">Documents</label>
              @if (Model.Files.Count() > 0)
              {
                foreach (var item in Model.Files)
                {
                  <br />
                  if (item != "")
                  {
                    <p class="mb-4 btn btn-info pill" onclick="window.open('/UploadedDocument/@Model.Seeker/Job\@Model.JobID/@item');" target="_blank">@item</p>
                  }
                }
              }
              else
              {
                <p class="mb-4">No document uploaded</p>
              }

            </div>
          </div>
          <div class="row form-group">
            <div class="col-md-12 mb-3 mb-md-0">
              <label class="font-weight-bold">Status</label>
              @if (Model.Status == "0")
              {
                <div class="badge-wrap">
                  <span class="border border-warning text-warning py-2 px-4 rounded">Pending Provider</span>
                </div>
              }
              else if (Model.Status == "1")
              {
                <div class="badge-wrap">
                  <span class="border border-info text-info py-2 px-4 rounded">In Progress</span>
                </div>
              }
              else if (Model.Status == "2")
              {
                <div class="badge-wrap">
                  <span class="border border-success text-success py-2 px-4 rounded">Completed</span>
                </div>
              }


            </div>
          </div>

          @if (Session["Email"] != null)
          {
            if (Session["Role"].ToString() == "Provider")
            {
              <p class="mt-5">
                <div class="btn btn-primary  py-2 px-4" onclick="applyJob('@Model.JobID');">Apply Job</div>
                <a href='/Chat/ChatList?id=@Model.Seeker' style="text-decoration: none;" class="btn btn-info  py-2 px-4">Chat with seeker</a>
              </p> }
            else if(Session["Role"].ToString() == "Seeker" && Model.Provider !=null)
            {
              <p class="mt-5">
                <a href='/Chat/ChatList?id=@Model.Provider' style="text-decoration: none;" class="btn btn-info  py-2 px-4">Chat with provider</a>
              </p>
            }
          }

        </div>
      </div>

      <div class="col-lg-4">


        <div class="p-4 mb-3 bg-white">
          <h3 class="h5 text-black mb-3">More Info</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa ad iure porro mollitia architecto hic consequuntur. Distinctio nisi perferendis dolore, ipsa consectetur</p>
          <p><a href="#" class="btn btn-primary  py-2 px-4">Apply Job</a></p>
        </div>
      </div>
    </div>
  </div>
</div>



<script type="text/javascript">
        function applyJob(id) {
          var data = {};
          data.SId = id;
          $.ajax({
              type: "POST",
              contentType: "application/json; charset=utf-8",
              data:  JSON.stringify(data),
              url: '@Url.Action("ApplyJob")',
              success: function (success) {
                  alert(success.Message);
              },
              error: function (result) {
                  alert(result.Error);
              }
          })

        }
</script>
