@using fyptest.Models
@model RequestDetail
@{
  ViewBag.Title = "RequestDetail";
}

<div style="height: 113px;"></div>

<div class="unit-5 overlay" style="background-image: url(@Url.Content("~/Content/main/")images/hero_2.jpg);">
  <div class="container text-center">
    <h2 class="mb-0">@Model.Title</h2>
    <p class="mb-0 unit-6"><a href="index.html">Home</a> <span class="sep">></span> <span>Job Item</span></p>
  </div>
</div>
<div class="site-section bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-8 mb-5">
        <div class="p-5 bg-white">
          <div class="mb-4 mb-md-5 mr-5">
            <div class="job-post-item-header d-flex align-items-center">
              <h2 class="mr-3 text-black h4">@Model.Title</h2>
              <div class="badge-wrap">
                <span class="border border-warning text-warning py-2 px-4 rounded">@Model.Category</span>
              </div>
            </div>
            <div class="job-post-item-body d-block d-md-flex">
              <div class="mr-3"><span class="fl-bigmug-line-portfolio23"></span> <a href="#">@Model.Address</a></div>
              <div><span class="fl-bigmug-line-big104"></span> <span>@Model.Address</span></div>
            </div>
          </div>



          <div class="img-border mb-5">
            @*<a href="https://vimeo.com/28959265" class="popup-vimeo image-play">
      <span class="icon-wrap">
        <span class="icon icon-play"></span>
      </span>*@
            <img src="@Model.Image" alt="Image" class="img-fluid rounded">
            @*</a>*@
          </div>



          <div class="row form-group">
            <div class="col-md-12 mb-3 mb-md-0">
              <label class="font-weight-bold">Category</label>
              <p class="mb-4">@Model.Category</p>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-md-12 mb-3 mb-md-0">
              <label class="font-weight-bold">Price</label>
              <p class="mb-4">RM @Model.Price</p>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-md-12 mb-3 mb-md-0">
              <label class="font-weight-bold" for="phone">Job Type</label>
              <p class="mb-4">RM @Model.Type</p>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-md-12 mb-3 mb-md-0">
              <label class="font-weight-bold" for="phone">Description</label>
              <p class="mb-4">@Model.Description</p>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-md-12 mb-3 mb-md-0">
              <label class="font-weight-bold">Documents</label>

              @if (Model.Files.Count() > 0)
              {
                foreach (var item in Model.Files)
                {
                  <br />
                  if (item != "")
                  {
                    <p class="mb-4 btn btn-info pill" onclick="window.open('/UploadedDocument/@Model.Seeker/Job\@Model.Id/@item');" target="_blank">@item</p>
                  }


                }
              }
              else
              {
                <p class="mb-4">No document uploaded</p>
              }

            </div>
          </div>
          <div class="row form-group">
            <div class="col-md-12 mb-3 mb-md-0">
              <label class="font-weight-bold">Status</label>
              @if (Model.Status == 0)
              {
                <div class="badge-wrap">
                  <span class="border border-warning text-warning py-2 px-4 rounded">Pending Provider</span>
                </div>
              }
              else if (Model.Status == 1)
              {
                <div class="badge-wrap">
                  <span class="border border-info text-info py-2 px-4 rounded">In Progress</span>
                </div>
              }
              else if (Model.Status == 2)
              {
                <div class="badge-wrap">
                  <span class="border border-success text-success py-2 px-4 rounded">Completed</span>
                </div>
              }


            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

