@using fyptest.Models
@model OverallAccVM

@{ ViewBag.Title = "ProviderProfile";
  Layout = "~/Views/Shared/_Layout.cshtml"; }

@section head{
  <style>
    #upload img {
      width: 200px;
      height: 200px;
      cursor: pointer;
    }
  </style>
}

<div style="height: 113px;"></div>

<div class="unit-5 overlay" style="background-image: url('../../Image/Background/hero_2.jpg');">
  <div class="container text-center">
    <h2 class="mb-0">Profile</h2>
    <p class="mb-0 unit-6"><a href="index.html">Home</a> <span class="sep">></span> <span>Profile</span></p>
  </div>
</div>

<!-- Page Content -->

<div class="site-section bg-light">
  <div class="container">
    @*top*@
    <div class="row">
      @*left panel*@
      <div class="col-md-12 col-lg-8 mb-5">
        <div class="p-5 bg-white">
          <div class="row form-group">
            <div class="col-md-12 mb-3 mb-md-0">
              <label class="font-weight-bold" for="email">Email</label>
              <p class="mb-4" id="email">@Model.accDetail.Email</p>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-md-12 mb-3 mb-md-0">
              <label class="font-weight-bold" for="phone">Phone</label>
              <p class="mb-4" id="phone">@Model.accDetail.Phone</p>
              <input type="text" id="editPhone" class="form-control" placeholder="60123456789" value=@Model.accDetail.Phone required>
              <p><span id="error">Invalid Format (60123456789)</span> </p>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-md-12 mb-3 mb-md-0">
              <label class="font-weight-bold" for="Address">Address</label>
              <p class="mb-4" id="address">@Model.accDetail.Address</p>
              <input type="text" id="editAddress" class="form-control" placeholder="Address" value=@Model.accDetail.Address required>
            </div>
          </div>

          @if (@Model.accDetail.CompanyIndividual)
          {
            <div class="row form-group">
              <div class="col-md-12">
                <label class="font-weight-bold" for="name">Name</label>
                <p class="mb-4">@Model.accDetail.Name</p>
              </div>
            </div> }
          else if (!@Model.accDetail.CompanyIndividual)
          {
            <div class="row form-group">
              <div class="col-md-12">
                <label class="font-weight-bold" for="companyName">Company Name</label>
                <p class="mb-4">@Model.accDetail.CompanyName</p>
              </div>
            </div>}

          <div class="row form-group">
            <div class="col-md-12">
              <label class="font-weight-bold" for="serviceType">Services</label>
              <p class="mb-4">@Model.accDetail.ServiceType</p>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-md-3">
              <label class="font-weight-bold" for="attitude">Attitude</label>
              @switch (Model.accDetail.Attitude)
              {
                case 1:<p class="mb-4"> &#9733;&#9734;&#9734;&#9734;&#9734; </p> ; break;
                case 2: <p class="mb-4"> &#9733;&#9733;&#9734;&#9734;&#9734;</p> ; break;
                case 3: <p class="mb-4"> &#9733;&#9733;&#9733;&#9734;&#9734; </p> ; break;
                case 4: <p class="mb-4"> &#9733;&#9733;&#9733;&#9733;&#9734; </p> ; break;
                case 5: <p class="mb-4"> &#9733;&#9733;&#9733;&#9733;&#9733; </p> ; break;
                default: <p class="mb-4"> &#9734;&#9734;&#9734;&#9734;&#9734; </p>; break;
              }
            </div>
            <div class="col-md-3">
              <label class="font-weight-bold" for="quality">Quality</label>
              @switch (Model.accDetail.Quality)
              {
                case 1:<p class="mb-4"> &#9733;&#9734;&#9734;&#9734;&#9734; </p> ; break;
                case 2: <p class="mb-4"> &#9733;&#9733;&#9734;&#9734;&#9734;</p> ; break;
                case 3: <p class="mb-4"> &#9733;&#9733;&#9733;&#9734;&#9734; </p> ; break;
                case 4: <p class="mb-4"> &#9733;&#9733;&#9733;&#9733;&#9734; </p> ; break;
                case 5: <p class="mb-4"> &#9733;&#9733;&#9733;&#9733;&#9733; </p> ; break;
                default: <p class="mb-4"> &#9734;&#9734;&#9734;&#9734;&#9734; </p>; break;
              }
            </div>
            <div class="col-md-3">
              <label class="font-weight-bold" for="efficiency">Efficiency</label>
              @switch (Model.accDetail.Efficiency)
              {
                case 1:<p class="mb-4"> &#9733;&#9734;&#9734;&#9734;&#9734; </p> ; break;
                case 2: <p class="mb-4"> &#9733;&#9733;&#9734;&#9734;&#9734;</p> ; break;
                case 3: <p class="mb-4"> &#9733;&#9733;&#9733;&#9734;&#9734; </p> ; break;
                case 4: <p class="mb-4"> &#9733;&#9733;&#9733;&#9733;&#9734; </p> ; break;
                case 5: <p class="mb-4"> &#9733;&#9733;&#9733;&#9733;&#9733; </p> ; break;
                default: <p class="mb-4"> &#9734;&#9734;&#9734;&#9734;&#9734; </p>; break;
              }
            </div>
            <div class="col-md-3">
              <label class="font-weight-bold" for="professionalism">Professionalism</label>
              @switch (Model.accDetail.Professionalism)
              {
                case 1:<p class="mb-4"> &#9733;&#9734;&#9734;&#9734;&#9734; </p> ; break;
                case 2: <p class="mb-4"> &#9733;&#9733;&#9734;&#9734;&#9734;</p> ; break;
                case 3: <p class="mb-4"> &#9733;&#9733;&#9733;&#9734;&#9734; </p> ; break;
                case 4: <p class="mb-4"> &#9733;&#9733;&#9733;&#9733;&#9734; </p> ; break;
                case 5: <p class="mb-4"> &#9733;&#9733;&#9733;&#9733;&#9733; </p> ; break;
                default: <p class="mb-4"> &#9734;&#9734;&#9734;&#9734;&#9734; </p>; break;
              }
            </div>
          </div>

          <div class="row form-group">
            <div class="col-md-12">
              <input type="button" value="Edit" class="btn btn-primary pill px-4 py-2" id="edit">
              <input type="button" value="Confirm" class="btn btn-primary pill px-4 py-2" id="confirm">
              <input type="button" value="Cancel" class="btn btn-primary pill px-4 py-2" id="cancel">
            </div>
          </div>
        </div>
      </div>

      @*right panel*@
      <div class="col-lg-4">
        <div class="p-4 mb-3 bg-white">
          <h3 class="h5 text-black mb-3">Profile Image</h3>
          <form enctype="multipart/form-data" name="file">
            <label class="text-info p-2 rounded border border-info" id="upload">
              <input type="file" id="file" name="file" accept="image/jpeg,image/png,image/jpg" hidden="" />
              @*@Html.TextBoxFor(m => m.ProfileImage, new { type = "file", accept = "image/jpeg,image/png,image/jpg", hidden = "" })*@
              <img src="~/Image/Profile/@Model.accDetail.ProfileImage" />
              <br />
              <small id="image">Select photo...</small>
            </label>
          </form>
        </div>

        <div class="p-4 mb-3 bg-white">
          <h3 class="h5 text-black mb-3">Wallet</h3>
          <p>RM <b>@Model.accDetail.Wallet</b></p>
          <p>
            <button class="btn btn-primary px-4 py-2 text-white pill" id="topup">Top Up</button>
            <a href="~/JobProvider/Withdraw" class="btn btn-primary px-4 py-2 text-white pill">Withdrawn</a>
          </p>
          <p id="topupMethod">
            <a href="~/JobProvider/Topup" class="btn btn-primary px-2 py-1 text-white pill"><small>Debit Card</small></a>
            <a href="~/JobProvider/TopupPaypal" class="btn btn-primary px-2 py-1 text-white pill"><small>PayPal</small></a>
          </p>
        </div>
        <div class="p-4 mb-3 bg-white">
          <h3 class="h5 text-black mb-3">Namecard</h3>
          <label class="text-info p-2 rounded border border-info">
            <img src="~/Image/NameCard/@Model.accDetail.Namecard" style="width:300px; height:200px"/>
          </label>
          <p><a href="~/JobProvider/EditNameCard" class="btn btn-primary px-4 py-2 text-white pill">Edit</a></p>
        </div>
      </div>
    </div>

    @*middle ongoing*@
    <div class="row">
      <div class="col-md-8 mb-5 mb-md-0" data-aos="fade-up" data-aos-delay="100">
        <h2 class="mb-5 h3"><a class="mb-5 h3" href="~/Service/RequestList?status=1">Recent Jobs</a></h2>
        <div class="rounded border jobs-wrap">
          @foreach (var r in Model.requestDetail.Take(5))
          {
            if (r.status == 1)
            {
              <a href="~/Service/RequestList?status=1&selected=@r.title" class="job-item d-block d-md-flex align-items-center  border-bottom fulltime">
                <div class="company-logo blank-logo text-center text-md-left pl-3">
                  <img src="~/Content/main/images/company_logo_blank.png" alt="Image" class="img-fluid mx-auto">
                </div>
                <div class="job-details h-100">
                  <div class="p-3 align-self-center">
                    <h3>@r.title</h3>
                    <div class="d-block d-lg-flex">
                      <div class="mr-3">
                        <span class="icon-suitcase mr-1"></span>
                        @(r.Service_Category.SCId == r.Category? r.Service_Category.name: "-" )
                      </div>
                      <div class="mr-3"><span class="icon-room mr-1"></span> @(r.address==null? "-" : r.address)</div>
                      <div><span class="icon-money mr-1"></span> RM @r.price </div>
                    </div>
                  </div>
                </div>
                <div class="job-category align-self-center">
                  <div class="p-3">
                    @if (r.seekerComplete == false && r.providerComplete == true)
                    {
                      <span class="text-info p-2 rounded border border-info">Pending</span> ;
                    }
                    else
                    {
                      <span class="text-warning p-2 rounded border border-warning">Ongoing</span>;
                    }
                  </div>
                </div>
              </a>}
          }
        </div>

        <br />
        @*bottom complete*@
        <h2 class="mb-5 h3"><a class="mb-5 h3" href="~/Service/RequestList?status=2">History</a></h2>
        <div class="rounded border jobs-wrap">
          @foreach (var r in Model.requestDetail.Take(5))
          {
            if (r.status == 2)
            {
              <a href="~/Service/RequestList?status=2&selected=@r.title" class="job-item d-block d-md-flex align-items-center  border-bottom fulltime">
                <div class="company-logo blank-logo text-center text-md-left pl-3">
                  <img src="~/Content/main/images/company_logo_blank.png" alt="Image" class="img-fluid mx-auto">
                </div>
                <div class="job-details h-100">
                  <div class="p-3 align-self-center">
                    <h3>@r.title</h3>
                    <div class="d-block d-lg-flex">
                      <div class="mr-3">
                        <span class="icon-suitcase mr-1"></span>
                        @(r.Service_Category.SCId == r.Category? r.Service_Category.name: "-" )
                      </div>
                      <div class="mr-3"><span class="icon-room mr-1"></span> @(r.address==null? "-" : r.address)</div>
                      <div><span class="icon-money mr-1"></span> RM @r.price </div>
                    </div>
                  </div>
                </div>
                <div class="job-category align-self-center">
                  <div class="p-3">
                    <span class="text-success p-2 rounded border border-success">Completed</span>
                  </div>
                </div>
              </a>}
          }
        </div>
      </div>

      @*btm right recommend*@
      <div class="col-md-4 block-16" data-aos="fade-up" data-aos-delay="200">
        <div class="d-flex mb-0">
          <h2 class="mb-5 h3 mb-0">Featured Jobs</h2>
          <div class="ml-auto mt-1"><a href="#" class="owl-custom-prev">Prev</a> / <a href="#" class="owl-custom-next">Next</a></div>
        </div>
        <div class="nonloop-block-16 owl-carousel">
          @foreach (var r in Model.recommend.Take(4))
          {
            <div class="border rounded p-4 bg-white">
              <h2 class="h5">@r.title</h2>
              <p style="cursor:pointer"><a href="~/Service/RequestList?status=0&selected=@r.title"><span class="text-info p-2 rounded border border-info">Recommend</span></a></p>
              <p>
                <span class="d-block"><span class="icon-suitcase"></span> @(r.Service_Category.SCId == r.Category? r.Service_Category.name: "-" )</span>
                <span class="d-block"><span class="icon-room"></span> @(r.address==null? "-" : r.address)</span>
                <span class="d-block"><span class="icon-money mr-1"></span> RM @r.price </span>
              </p>
              <p class="mb-0">@r.description</p>
            </div>
          }

        </div>
      </div>
    </div>
  </div>
</div>

@section foot {
  @Scripts.Render("~/bundles/jqueryval")
  <script src="//code.jquery.com/jquery-1.12.4.js"></script>
  <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <script>

    var check = true;

    var $regexname = /^(601)([0-9]{8})$/;
    $('#editPhone').on('keypress keydown keyup', function () {
      console.log("check")
      if (!$('#editPhone').val().match($regexname)) {
        // there is a mismatch, hence show the error message
        $('#error').show();
        check = false;
      }
      else {
        // else, do not display message
        $('#error').hide();
        check = true;
      }
    });

    //jQuery(function ($) {
    //  $("#editPhone").mask("99999999999");
    //});

    $(document).ready(() => {
      $('#error').hide();
      $('#editPhone').hide();
      $('#editAddress').hide();
      $('#confirm').hide();
      $('#cancel').hide();
      $('#topupMethod').hide();
    });


    $('#edit').click(() => {
      $('#phone').hide(500);
      $('#address').hide(500);
      $('#edit').hide(500);

      $('#editPhone').show(500);
      $('#editAddress').show(500);
      //$('#image').show();
      $('#cancel').show(500);
      $('#confirm').show(500);
    });

    $('#cancel').click(() => {
      $('#phone').show(500);
      $('#address').show(500);
      $('#edit').show(500);

      $('#editPhone').hide(500);
      $('#editAddress').hide(500);
      //$('#image').hide();
      $('#cancel').hide(500);
      $('#confirm').hide(500);
    });

    $('#topup').click(() => {
      $('#topupMethod').show(500);
    })

    function validatePhoto(f) {
      let reType = /^image\/(jpeg|png)$/i;
      let reName = /^.+\.(jpg|jpeg|png)$/i;

      return f &&
        f.size <= 1 * 1024 * 1024 &&
        reType.test(f.type) &&
        reName.test(f.name);
    }

    let src = null;

    $('#upload input').change(e => {
      let f = e.target.files[0];
      let img = $(e.target).siblings('img')[0];

      if (!src) src = img.src;

      if (validatePhoto(f)) {
        img.src = URL.createObjectURL(f);
      }
      else {
        img.src = src;
        e.target.value = '';
      }
      //$(e.target).valid();

      update()
    });

    //detail edit
    $('#confirm').click(() => {
      if (check) {
        $.ajax({
          url: '/JobProvider/EditProfile',
          data: JSON.stringify({
            model: {
              Email: $('#email').text(),
              Phone: $('#editPhone').val(),
              Address: $('#editAddress').val(),
              //ProfileImage: file
            }
          }),
          type: 'POST',
          contentType: 'application/json; charset=utf-8',
          success: data => {
            $('#phone').text(data.Phone);
            $('#address').text(data.Address);
          },
          error: () => {
            $('#phone').text("error");
          }
        });
        $('#cancel').trigger("click");
      }
      else {
        $('#error').effect('shake');
      }
    });

    //change profilepic
    function update() {
      console.log("1234")
      $.ajax({
        url: '/JobProvider/EditProfilePic',
        type: 'POST',
        data: new FormData($('form')[0]),
        cache: false,
        processData: false,
        contentType: false,
        xhr: function () {  // Custom XMLHttpRequest
          var myXhr = $.ajaxSettings.xhr();
          return myXhr
        },
        success: function () {
          $('#image').text("Uploaded");
        },
        error: function () {
          $('#image').text("Upload Failed");
        }
      });
    }


  </script>
}
